<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/tx    
                        http://www.springframework.org/schema/tx/spring-tx.xsd
	<bean id="springCacheRegionFactoryBeanPostProcessor" class="com.integralblue.hibernate.cache.springcache.SpringCacheRegionFactoryBeanPostProcessor">
	
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="packagesToScan">
			<list>
				<!-- 可以加多个包 -->
				<value>lxk.hibernate.hibernateEntity</value>
			</list>
		</property>
		<property name="hibernateProperties">
		<props> 
			<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop> 
			<prop key="hibernate.dialect.storage_engine">innodb</prop> 
		<!-- 	<prop key="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</prop>  -->
			<prop key="hibernate.show_sql">true</prop> 
			<prop key="hibernate.format_sql">false</prop> 
			<prop key="hibernate.query.substitutions">true 1, false 0</prop> 
			<prop key="hibernate.jdbc.batch_size">20</prop> 
			<prop key="hibernate.jdbc.use_streams_for_binary">true</prop> 
			<prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop> 
			<!-- 是否自动提交事务 -->
			<prop key="hibernate.connection.autocommit">true</prop> 
			<!-- 指定hibernate在何时释放JDBC连接 -->
			<prop key="hibernate.connection.release_mode">auto</prop> 
			<prop key="hibernate.cache.use_query_cache">true</prop> 
			<prop key="hibernate.cache.use_second_level_cache">true</prop> 
			<!-- ehcache jcache配置 -->
<!-- 			<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.JCacheRegionFactory</prop> 
			<prop key="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</prop> 
			<prop key="hibernate.javax.cache.uri">classpath:/ehcache.xml</prop>  -->
			<!-- ehcache 2.x配置 -->
			<!-- <prop key="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.SingletonEhCacheRegionFactory</prop> -->
<!-- 			<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</prop> 

			<prop key="net.sf.ehcache.configurationResourceName">classpath:/ehcache.xml</prop>  -->
			<!-- memcached配置 -->
 			<!-- <prop key="hibernate.cache.region.factory_class">com.mc.hibernate.memcached.MemcachedRegionFactory</prop> 
 			<prop key="hibernate.memcached.servers">localhost:12000,localhost:11211</prop>  -->
 			<!-- hibernate接spring cache -->
 			<prop key="hibernate.cache.region.factory_class">com.integralblue.hibernate.cache.springcache.SpringCacheRegionFactory</prop>
 			<!-- <prop key="hibernate.spring.cache.unwrap_jcache">true</prop> -->
 
		</props> 

		</property>
		<property name="entityInterceptor">   
			<ref bean="treeInterceptor"/>
		</property>



	</bean>
	<bean id="treeInterceptor" class="org.hibernate.EmptyInterceptor"/>
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
  
</beans>  